 * {
     margin: 0;
     padding: 0;
 }

 #div0 {
     width: 100%;
     height: 100%;
 }

 #div1 {
     background-color: rgba(34, 37, 42);
     height: 50px;
     width: 100%;

 }

 #div2 {
     background-color: rgba(34, 37, 42);
     height: 50px;
     width: 16%;
     color: white;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     float: left;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 20px;

 }

 #div3 {
     background-color: rgba(34, 37, 42);
     height: 50px;
     color: white;
     width: 75%;
     opacity: 0.5;
     float: left;
     display: flex;
     justify-content: end;
     align-items: center;
 }

 #div4 {
     background-color: rgba(34, 37, 42);
     height: 50px;
     color: white;
     width: 9%;
     float: left;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-left: 14px;
     box-sizing: border-box;
 }

 .center {
     height: 676px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
 }

 #div5 {
     color: white;
     font-size: 48px;
     font-family: Arial, Helvetica, sans-serif;
 }

 #div6 {
     color: white;
     font-size: 17px;
     padding-top: 10px;
 }

 #div8 {
     background-color: rgba(49, 108, 244);
     color: white;
     border-color: rgba(49, 108, 244);
     border-radius: 8px;
     padding: 10px;
     font-size: 18px;
 }


 #body {
     background-image: url("./image.png");
     background-size: cover;
 }

 .container {
     background-color: rgba(248, 249, 250);
     padding-top: 50px;
     font-size: 30px;
     font-family: 'Montserrat', sans-serif;
     text-align: center;
     height: 475px;
 }

 .row {

     padding-top: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 #div9 {
     background-color: rgba(255, 255, 255);
     border-radius: 6px;
     border: 1px solid gainsboro;
     height: 340px;
     display: flex;
     justify-content: start;
     flex-direction: column;
 }

 #div9 img {
     border-top-left-radius: 6px;
     border-top-right-radius: 6px;
 }

 #div91 {
     padding-top: 12px;
     padding-left: 15px;
     text-align: start;
     font-size: 20px;
     font-weight: 500;
 }

 #div92 {
     padding: 15px;
     padding-top: 10px;
     font-weight: 200;
     text-align: start;
     font-size: 16px;
 }

 #div10 {
     background-color: rgba(255, 255, 255);
     height: 340px;
     display: flex;
     justify-content: start;
     flex-direction: column;
     margin-right: 25px;
     margin-left: 25px;
     border: 1px solid gainsboro;
 }

 #div10 img {
     border-top-left-radius: 6px;
     border-top-right-radius: 6px;
 }

 #div101 {
     padding-top: 12px;
     padding-left: 15px;
     text-align: start;
     font-size: 20px;
     font-weight: 500;
 }

 #div102 {
     padding: 15px;
     padding-top: 10px;
     font-weight: 200;
     text-align: start;
     font-size: 16px;
 }

 #div11 {
     background-color: rgba(255, 255, 255);
     border-radius: 6px;
     border: 1px solid gainsboro;
     height: 340px;
     display: flex;
     justify-content: start;
     flex-direction: column;
 }

 #div11 img {
     border-top-left-radius: 6px;
     border-top-right-radius: 6px;
 }

 #div111 {
     padding-top: 12px;
     padding-left: 15px;
     text-align: start;
     font-size: 20px;
     font-weight: 500;
 }

 #div112 {
     padding: 15px;
     padding-top: 10px;
     font-weight: 200;
     text-align: start;
     font-size: 16px;
 }

 .container1 {
     background-color: rgba(255, 255, 255);
     text-align: center;
     height: 560px;

 }

 #div12 {
     padding-top: 50px;
     font-family: 'Montserrat', sans-serif;
     font-size: 30px;
     font-weight: 500px;

 }

 #div13 {
     padding-top: 22px;
     margin-left: 100px;
     margin-right: 150px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: 'Montserrat', sans-serif;
 }

 #div14 {
     margin-right: 50px;
     text-align: justify;
     font-size: 16px;
 }

 #div140 {
     margin-bottom: 6px;
 }

 #div142 {
     margin-bottom: 6px;
 }

 #div15 img {
     border-radius: 5px;
 }

 .container2 {
     background-color: rgba(248, 249, 250);
     text-align: center;
     height: 350px;
 }

 #div16 {
     padding-top: 50px;
     font-family: 'Montserrat', sans-serif;
     font-size: 30px;
     font-weight: 500px;

 }

 #div17 {
     padding-top: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 #div18 {
     background-color: rgba(255, 255, 255);
     border: 1px solid gainsboro;
     height: 170px;
     width: 420px;
     border-radius: 5px;
     font-family: 'Montserrat', sans-serif;
     font-size: 20px;
     padding-top: 17px;
     box-sizing: border-box;
 }

 #div181 {
     padding-top: 12px;
     box-sizing: border-box;
     font-size: 16px;
 }

 #div182 {
     padding-top: 8px;
     box-sizing: border-box;
     font-size: 16px;
 }

 #div183 {
     padding-top: 22px;
     color: rgb(20, 87, 196);
     font-size: 16px;
 }

 #div19 {
     background-color: rgba(255, 255, 255);
     border: 1px solid rgba(39, 122, 253);
     height: 170px;
     width: 420px;
     font-size: 20px;
     padding-top: 17px;
     box-sizing: border-box;
     border-radius: 5px;
     margin-left: 25px;
     margin-right: 25px;
     font-family: 'Montserrat', sans-serif;


 }

 #div191 {
     padding-top: 12px;
     box-sizing: border-box;
     font-size: 16px;
 }

 #div192 {
     padding-top: 8px;
     box-sizing: border-box;
     font-size: 16px;
 }

 #div193 {
     padding-top: 22px;
     color: rgb(20, 87, 196);
     font-size: 16px;
 }

 #div20 {
     background-color: rgba(255, 255, 255);
     border: 1px solid gainsboro;
     height: 170px;
     width: 420px;
     border-radius: 5px;
     font-family: 'Montserrat', sans-serif;
     font-size: 20px;
     padding-top: 17px;
     box-sizing: border-box;
 }

 #div201 {
     padding-top: 12px;
     box-sizing: border-box;
     font-size: 16px;
 }

 #div202 {
     padding-top: 22px;
     color: rgb(20, 87, 196);
     font-size: 16px;
 }

 .container3 {
     background-color: rgba(255, 255, 255);
     text-align: center;
     height: 305px;
 }

 #div21 {
     padding-top: 50px;
     font-family: 'Montserrat', sans-serif;
     font-size: 30px;
     font-weight: 500px;

 }

 #div22 {
     padding-top: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 #div23 {
     background-color: rgba(255, 255, 255);
     height: 120px;
     width: 420px;
     border-radius: 5px;
     font-family: 'Montserrat', sans-serif;
     font-size: 20px;
     padding-top: 17px;
     box-sizing: border-box;
     box-shadow: 0px 0px 8px rgb(209, 206, 206);

 }

 #div231 {
     padding-top: 4px;
     padding-left: 15px;
     display: flex;
     justify-content: start;
     align-items: start;
     box-sizing: border-box;
 }

 #div232 {
     padding-left: 15px;
     font-family: 'Montserrat', sans-serif;
     font-size: 20px;
     padding-top: 5px;
     box-sizing: border-box;
     display: flex;
     justify-content: start;
     align-items: start;
 }

 #div233 {
     padding-left: 15px;

     display: flex;
     justify-content: start;
     align-items: start;
     padding-top: 5px;
     opacity: 0.5;
     font-size: 17px;
 }

 #div24 {
     background-color: rgba(255, 255, 255);
     border: 1px solid gainsboro;
     height: 120px;
     width: 420px;
     border-radius: 5px;
     font-family: 'Montserrat', sans-serif;
     font-size: 20px;
     padding-top: 17px;
     box-sizing: border-box;
     margin-left: 25px;
     margin-right: 25px;
     box-shadow: 0px 0px 8px rgb(209, 206, 206);

 }

 #div241 {
     padding-top: 4px;
     padding-left: 15px;
     display: flex;
     justify-content: start;
     align-items: start;
     box-sizing: border-box;
 }

 #div242 {
     padding-left: 15px;
     font-family: 'Montserrat', sans-serif;
     font-size: 20px;
     padding-top: 5px;
     box-sizing: border-box;
     display: flex;
     justify-content: start;
     align-items: start;
 }

 #div243 {
     padding-left: 15px;

     display: flex;
     justify-content: start;
     align-items: start;
     padding-top: 5px;
     opacity: 0.5;
     font-size: 17px;

 }

 #div25 {
     background-color: rgba(255, 255, 255);
     border: 1px solid gainsboro;
     height: 120px;
     width: 420px;
     border-radius: 5px;
     font-family: 'Montserrat', sans-serif;
     font-size: 20px;
     padding-top: 17px;
     box-sizing: border-box;
     box-shadow: 0px 0px 8px rgb(209, 206, 206);


 }

 #div251 {
     padding-top: 4px;
     padding-left: 15px;
     display: flex;
     justify-content: start;
     align-items: start;
     box-sizing: border-box;
 }

 #div252 {
     padding-left: 15px;
     font-family: 'Montserrat', sans-serif;
     font-size: 20px;
     padding-top: 5px;
     box-sizing: border-box;
     display: flex;
     justify-content: start;
     align-items: start;
 }

 #div253 {
     padding-left: 15px;

     display: flex;
     justify-content: start;
     align-items: start;
     padding-top: 5px;
     opacity: 0.5;
     font-size: 17px;

 }

 #div26 {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgba(33, 37, 41);
     height: 72px;
     color: white;
     font-family: 'Montserrat', sans-serif;

 }