*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100%;
    
    background-color: aqua;


    margin: 0px auto;
}


.header{
    width: 100%;
    height: 100px;
    background-color: grey;

    display: flex;
}

.headerLeft{
    width: 50%;
    height: 100px;
    /* background-color: blue; */

    display: flex;
    justify-content: left;
    align-items: center;

    
}

.headerLeft h3{
    color: white;
    font-size: 30px;

    margin-left: 70px;

    /* text-align: center; */
}

.headerRight{
    width: 50%;
    height: 100px;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.headerRight ul{
    display: flex;
    
    font-size: 30px;
}

.headerRight ul li{
    list-style: none;
    margin-right: 20px;
}

.headerRight ul li a{
    text-decoration: none;
}

.headerRight ul li a:hover{
    color: red;
}

.imageDiv{
    width: 100%;
    height: 800px;
    background-color: violet;

    background-image: url(https://img.freepik.com/free-photo/sunset-snow-capped-mountains_23-2152014205.jpg?semt=ais_hybrid&w=740&q=80);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}






/* .footer{
    width: 100%;
    height: 500px;
    background-color: cadetblue;
} */