
#maindiv{
    display: flex;
    
}
#root{
    background-color: rgba(14, 151, 21);
    height: 360px;
    width: 15px;
    transform:translateX(736px) translateY(290px) ;
    position: absolute;
    left: -8px;
}
#div1{
    background-color: rgba(230, 100, 110);
    height: 200px;
    width: 200px;
    border-bottom-left-radius: 180px;
    border-top-right-radius: 180px;
    transform:translatex(505px) translateY(130px) rotate(165deg);
    position: absolute;
   
}
#div2{
    background-color:rgba(232, 116, 125);
    height: 200px;
    width: 200px;
    border-bottom-left-radius: 180px;
    border-top-right-radius: 180px;
    transform:translateX(550px) translateY(80px) rotate(11deg)  ;
    position: absolute;
    
}
#div3{
    background-color:rgba(230, 100, 110);
    height: 200px;
    width: 200px;
    border-bottom-left-radius: 180px;
    border-top-right-radius: 180px;
    transform: translateX(750px) translateY(130px) rotate(105deg)  ;
    position: absolute;
    
}
#div4{
    background-color:rgba(232, 116, 125);
    height: 200px;
    width: 200px;
    border-bottom-left-radius: 180px;
    border-top-right-radius: 180px;
    transform:translateX(710px) translateY(78px) rotate(78deg)  ;
    position: absolute;
    
}
#div5{
    background-color: rgba(230, 100, 110);
    height: 200px;
    width: 200px;
    border-bottom-left-radius: 180px;
    border-top-right-radius: 180px;
    transform:translateX(625px) translateY(60px) rotate(44deg);
    position: absolute;
    
}
#div6{
    background-color:rgba(18, 154, 18);
    height: 200px;
    width: 200px;
    border-bottom-left-radius: 180px;
    border-top-right-radius: 180px;
    transform:translateX(515px) translateY(320px) rotate(-10deg);
    position: absolute;
}
#div7{
    background-color:rgba(18, 154, 18);
    height: 200px;
    width: 200px;
    border-bottom-left-radius: 180px;
    border-top-right-radius: 180px;
    transform:translateX(748px) translateY(410px) rotate(108deg);
    position:absolute
}
#div8{
        background-color:rgba(18, 154, 18);
      height: 15px;
      width: 190px;
      border-radius: 10px;
      transform: translateX(635px) translateY(285px);
      position: absolute;
      top: 365px;
}