*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 400px;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}

.one{
    width: 20%;
    height: 400px;
    background-color: red;
}

.two{
    width: 60%;
    height: 400px;
    background-color: blue;
}
.three{
    width: 20%;
    height: 400px;
    background-color: green;
}


@media screen and (max-width : 480px) {

    .container{
        display: flex;
        flex-wrap: wrap;
    }

    .one{
        width: 100%;
    }

    .two{
        width: 100%;
    }

    .three{
        width: 100%;
    }
}



@media screen and (min-width : 481px) {

    .container{
        display: flex;
        flex-wrap: wrap;
    }

    .one{
        width: 100%;
        background-color: yellow;
    }

    .two{
        width: 100%;
    }

    .three{
        width: 100%;
    }
}

@media screen and (min-width : 769px) {

    .container{
        display: flex;
        
    }

    .one{
        width: 20%;
        background-color: rebeccapurple;
    }

    .two{
        width: 20%;
    }

    .three{
        width: 60%;
    }
}