
.div1 {
    padding: 10px;
    margin: 50px;
    background-color: rgb(137, 15, 15);
    border: 2px solid darkgreen;
    color: white;
    font-size: 30px;
}

.div2 {
    padding: 35px;

    margin: 50px;
    background-color: orange;
    border: 2px solid red;
    color: white;

}

.div3 {
    padding: 35px;
    margin: 50px;
    background-color: yellow;
    border: 2px dashed red;
    color: red;
    border-radius: 20px;

}

.div4 {
    padding: 35px;
    margin: 50px;
    background-color: yellow;
    border:2px solid white;
    border-bottom: 8px solid white;
    border-right: 8px solid white;
    color: blue;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    opacity: 0.4;
}