.myBox {
    width: 200px;
    height: 200px;
    background-color: palegreen;

    /* border-width: 5px;
    border-color: red;
    border-style: double; */

    border: solid 13px blueviolet;

}


#specialBox {
    color: red;
    font-size: 30px;

    /* margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 300px; */

    /* margin: 100px; */
    /* margin: 10px 100px; */
    margin: 40px 120px 100px 15px;


    /* padding-top: 50px;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 100px; */

    /* padding: 100px; */

    /* padding: 50px 0px; */
    /* padding: 150px 0px 10px 50px; */

    padding-left: 30px;

    box-sizing: border-box;
}