* {
    box-sizing: border-box;
}

.first {
    margin: 60px;
}

#box {
    background-color: white;
    width: 100%;
    text-align: center;
    color: white;
    border: 3px solid black;
    font-size: 20px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#box0 {
    background-color: red;
    height: 65px;
    width: 100%;
    border: 2px solid black;
    padding: 18px;
    box-sizing: border-box;

}

#box1 {
    background-color: skyblue;
    width: 100%;
    height: 65px;
    margin-top: 10px;
    border: 2px solid black;
    padding: 18px;
    box-sizing: border-box;
}

#box2 {
    background-color: white;
    height: 210px;
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
}

#box21 {
    background-color: white;
    height: 210px;
    width: 49.3%;
    float: left;
    box-sizing: border-box;
}

#fir {
    background-color: rgb(224, 172, 16);
    height: 100px;
    border: 2px solid black;
    padding: 35px;
    box-sizing: border-box;
}

#sec {
    background-color: rgb(233, 80, 15);
    height: 100px;
    margin-top: 10px;
    border: 2px solid black;
    padding: 35px;
    box-sizing: border-box;
}

#box22 {
    background-color: pink;
    height: 210px;
    width: 50%;
    float: right;
}

#box221 {
    background-color: rgb(231, 43, 181);
    height: 210px;
    width: 100%;
    border: 2px black solid;
    padding-top: 90px;
    box-sizing: border-box;
}

#box3 {
    background-color: gray;
    width: 100%;
    height: 65px;
    margin-top: 10px;
    border: 2px solid black;
    padding: 18px;
    box-sizing: border-box;
}