#div {
            background-color: pink;
            height: 700px;
        }

        #div0 {
            background-color: rgba(86, 107, 51);
            height: 100px;
            width: 100%;
        }

        #div1 {
            background-color: orange;
            width: 100%;
            height: 180px;
        }

        #div11 {
            background-color: WHITE;
            width: 70%;
            height: 180px;
            float: left;
        }

        #div12 {
            background-color: BLUE;
            width: 30%;
            height: 180px;
            float: right;
        }

        #div2 {
            background-color: yellow;
            width: 100%;
            height: 170px;
        }

        #div3 {
            background-color: rgba(48, 80, 79);
            width: 50%;
            height: 170px;
            float: left;
        }
        #div31 {
            background-color: rgba(147, 29, 209);
            height: 50px;
            width: 50%;
            float: left;
            box-sizing: border-box;
        }

        #div32 {
            background-color: rgba(64, 170, 95);
            height: 50px;
            width: 50%;
            float: right;
            box-sizing: border-box;
        }
        #div33{
                background-color: rgba(48, 80, 79);
                height: 120px;
                width:100% ;

        }
        #div4 {
            background-color: brown;
            width: 50%;
            height: 170px;
            float: left;
        }
        #div41 {
            background-color: rgba(254, 108, 181);
            width: 100%;
            height: 85px;
            float: left;
        }
        #div42 {
            background-color: rgba(124, 109, 236);
            width: 100%;
            height: 85px;
            float: left;
        }
        #div5{
            background-color: red;
            height: 200px;
        }
        #div51{
            background-color: rgba(197, 31, 133);
            height: 200px;
            width: 30%;
            float: left;
        }
        #div52{
            background-color: rgba(240, 230, 145);
            height: 200px;
            width: 70%;
            float: right;
        }
        #div6{
            background-color:rgba(48, 80, 79) ;
            height: 50px;
        }