.box{
    width: 200px;
    height: 200px;
    background-color: red;
    border: 1px solid black;

    position: absolute;

    animation: myAnimation 5s infinite;

    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes myAnimation{
    0%{
        left: 0;
        top: 0;
        
    }
    20%{
        top: 0;
        left: 500px;
    }
    40%{
        top: 500px;
        left: 500px;
        background-color: blue;
        border-radius: 50%;

        transform: scale(2) rotate(30deg);
    }
    60%{
        top: 700px;
        left: 0px;
    }
     80%{
        top: 90px;
        left: 0;
    }
    100%{
        top: 50px;
        left: 0;
    }
}

#line1{
    width: 5px;
    height: 300px;
    background-color: red;

    transform: translateX(400px) translateY(400px) rotate(30deg);
}
#line2{
    width: 5px;
    height: 300px;
    background-color: red;

    transform: translateX(455px) translateY(150px) rotate(60deg);
}